*{
    margin: 0;
    padding: 0;
}

.main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sahil{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

@media (max-width: 600px) and (min-width:300px){
    .main{
        height: 600px;
        width: 100%;
    }
    
}
